.post {
  padding: 9px;
  position: relative;
} 

pghead {
  background-color: #f0f0f0;
  padding: 6px;
  border-style: solid;
  border-radius: 12px;
  border-color: #dedede;
  display: flex;
  justify-content: center;
  margin: 6px;
} 

ipgh {
  padding: 6px;
  display: flex;
  justify-content: center;
  margin: 6px;
} 

pgnc {
  background-color: #f0f0f0;
  padding: 6px;
  border-style: solid;
  border-radius: 12px;
  border-color: #dedede;
  display: flex;
  margin: 6px;
  vertical-align: middle;
  align-items:center;
}

pgna {
  background-color: #f0f0f0;
  padding: 6px;
  border-style: solid;
  border-radius: 12px;
  border-color: #dedede;
  display: grid;
  margin: 6px;
  vertical-align: middle;
  align-items: center;
}

.comply {
  margin-left: 9px;
  margin-right: 9px;
}
